.App {
    text-align: center;
    width: 100vw;
}
.header{
    background: #eeeeee;
    margin-bottom: 50px;
}
.title{
    margin: 0;
}
.pizzas{
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
    column-gap: 2px;
}

.result{
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}


.wrapper{
    position: relative;
    width: 190px;
    height: 380px;
    background-size: cover;
    background-position: top left;
    box-sizing: border-box;
}
.left{
    background-position: top left;
}
.right{
    background-position: top right;
}
.name{
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    text-align: center;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.8);
}

.prev, .next{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 25px);
}
.prev:hover, .next:hover{
    background: #eee;
}
.prev span, .next span{
    width: 6px;
    height: 6px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
}

.prev{
    transform: rotate(-90deg);
    top: 0;
}
.next{
    transform: rotate(90deg);
    bottom: 0;
}


.results{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.resultRow{
    padding: 5px;
    border-bottom: 1px solid black;
}
.resultRow:last-child{
    border-bottom: none;
}