.App {
  text-align: center;
  width: 100vw;
}
.header{
  background: #eeeeee;
  margin-bottom: 50px;
}
.title{
  margin: 0;
}
.pizzas-wrapper{
  display: inline-flex;
  flex-direction: column;
}
.pizzas{
  display: inline-flex;
  flex-direction: row;
  vertical-align: top;
  column-gap: 2px;
}

.result{
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
}
.results{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.resultRow{
  padding: 5px;
  border-bottom: 1px solid black;
}
.resultRow:last-child{
  border-bottom: none;
}
.button{
  padding: 10px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}