body{
  margin: 0;
  padding: 0;
}
.header{
  width: 100vw;
  height: 40px;
  padding: 20px 0;
  text-align: center;
  background: #eeeeee;
  margin-bottom: 50px;
}
.headerInner{
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.title{
  margin: 0;
  line-height: 40px;
}
.pizzas-wrapper{
  display: block;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.pizzas{
  display: inline-flex;
  flex-direction: row;
  vertical-align: top;
  column-gap: 2px;
}
.button{
  padding: 10px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}